* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans 3', sans-serif;
}

h1 {
    font-size: 1.25rem;
}

h2 {
    font-size: 1rem;
}

p {
    font-size: 1rem;
}

a {
    font-weight: bold;
    color: black;
    text-decoration: solid;
}

a:focus,
a:hover {
    color: blue;
    font-weight: bolder;
    cursor: pointer;

}

/* HEADER */
header,
.logo,
.header-btns {
    display: flex;
}

header {
    width: 100vw;
    height: 59px;
    justify-content: space-between;
    position: static;
}

.logo {
    padding-left: 1.5em;
}

.logo-image {
    object-fit: scale-down;
    width: 1.44em;
    margin-right: 0.31em;
}

.logo-text {
    margin: auto 0;
    font-size: 0.85rem;
    font-weight: bold;
}

.header-btns {
    justify-content: end;
    gap: 1.6em;
    padding-right: 1.5em;
    margin-top: auto;
    margin-bottom: auto;
}

.header-btns a {
    text-transform: uppercase;
    font-size: .75rem;
}

/*INTRO SECTION  */
.intro-section {
    display: grid;
    width: 100vw;
    min-height: 400px;
    padding: 1.62em auto 3.125em;
    grid-template: repeat(3, 1fr) / repeat (2, 1fr);
    grid-template-areas:
        "picture ."
        "title title"
        "body body";
}


.profile-image {
    grid-area: picture;
    width: 11.37em;
    height: 11.37em;
    object-fit: cover;
    border-radius: 100%;
}

.intro-title {
    grid-area: title;
    font-size: 2rem;
    width: 100%;
}

.intro-body {
    grid-area: body;
}

/* element multiple editing */
.intro-section,
.container,
.blog-entry {
    padding: 0 1.25em;
}

.container p,
.intro-section p {
    line-height: 1.2em;
}

/* MAIN SECTION */
.main-section {
    margin-bottom: 45px;
}


/* BLOG ENTRIES */
.blog-section {
    display: grid;
    background-color: #ffffff;
    width: 100vw;
    margin-top: 34px;
    padding-right: 1em;
    grid-template-columns: repeat(auto-fit, minmax(374px, 1fr));
    grid-gap: 1em;
}

.blog-intro {
    grid-column: 1 / -1;
    margin: auto;
    font-size: 1em;
    margin-bottom: 1.68em;
}

.blog-entry {
    display: flex;
    width: minmax(374px, 1fr);
    margin: 0 auto;

    flex-direction: column;
    justify-content: space-between;
    gap: 9px;
}

.blog-image {
    width: 100%;
    height: 374px;
    object-fit: cover;
    align-self: center;

}

.blog-title,
.blog-body,
.blog-date {
    align-self: flex-start;
    margin: 0;
}

.blog-title {
    font-size: 1.5rem;
    order: 3;
}

.blog-body {
    color: #505050;
    order: 4;
    line-height: 1.4;
}

.blog-date {
    margin-top: .85em;
    text-transform: uppercase;
    font-size: 0.87rem;
    order: 2;
}

/* VIEW MORE BUTTON */

.btn-div {
    width: 100vw;
    text-align: center;
    margin-top: 27px;
}

.btn {
    font-size: 1em;
}

/* MEDIA QUERIES */
@media screen and (min-width: 1024px) {

    .intro-section {
        grid-template: repeat(2, 11.37em) / repeat(3, minmax(240px, 1fr));
        gap: 1em;
        grid-template-areas:
            "picture title title"
            "picture body body"
        ;
    }

    .profile-image {
        width: 100%;
        height: 100%;
        max-width: 400px;
        max-height: 400px;
    }

    .intro-title {
        margin-top: auto;
    }

    .intro-body {
        margin-bottom: auto;
    }

    .container h2 {
        font-size: 1.2rem;
    }

    .container p,
    .intro-section p {
        line-height: 1.4em;
    }

    .blog-section {
        grid-template-columns: repeat(3, minmax(330px, 1fr));
        padding-right: 1em;
    }

    .blog-entry {
        max-width: 100%;
    }

    .blog-image {
        max-width: 100%;
    }


}