html, 
body {
    margin: 0;
    padding: 0;
}

.blog-entry{
    display: grid;
    max-width: 374px;
    grid-template: minmax(100px, 1fr) repeat(3, 1fr) / 1fr 1fr  ;
    grid-template-areas: 
    "image image"
    "date ."
    "title ."
    "body body";
}

.blog-image{ 
    grid-area: image; 
    object-fit:cover;}
.blog-title{ grid-area: title;}
.blog-body{grid-area: body;}
.blog-date{grid-area: date;}